* {
  outline: none !important;
}
html {
  overflow-x: hidden;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-3 {
  margin-bottom: 3rem;
}
.px-3 {
  padding: 0 3rem !important;
}
.fw-bold {
  font-weight: bold !important;
}
ol li {
  list-style: none;
}
dd {
  font-size: 24px;
}
.freebirdFormviewerViewHeaderHeader {
  display: none !important;
}
.line {
  width: 40px;
  position: fixed;
  bottom: 0px;
  z-index: 10;
  color: rgb(168, 178, 209);
}

.leftLine {
  left: 1.5rem;
  right: auto;
}

.vertical-line {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  margin: 0px;
}

.vertical-line li {
  padding: 14px 15px;
  text-decoration: none;
  list-style-type: none;
}

.vertical-line li a i {
  color: rgb(58, 179, 62);
  font-size: 6em;
}

.vertical-line li:hover,
.vertical-line li:focus {
  justify-content: space-around;
  font-size: 2rem;
  font-weight: 600;
  padding: 14px 10px;
}

.remove-anchore-link a,
.remove-anchore-link li {
  text-decoration: none !important;
  list-style: none !important;
}
.common-content {
  position: absolute;
  background-color: var(--text-white);
  top: 0;
  padding: 0em 1em;
  font-size: 18px;
}
.left-content {
  left: 0;
}
.right-content {
  right: 0;
}
.text-gold {
  color: var(--text-gold);
}
.rating-success {
  background-color: var(--text-green) !important;
}

.projects-btn {
  margin: 0.8em;
}

.inquiry-form {
  width: 100%;
  height: 1150px;
}

@media screen and (max-width: 991px) {
  .inquiry-form {
    height: 1250px;
  }
}
@media screen and (max-width: 686px) {
  .inquiry-form {
    width: 400px;
    height: 1300px;
  }
}
@media screen and (max-width: 586px) {
  .inquiry-form {
    width: 100%;
    height: 1300px;
  }
}
@media screen and (max-width: 476px) {
  .inquiry-form {
    width: 300px;
    height: 1350px;
    overflow-x: hidden !important;
  }
}
/*.vertical-line::after {*/
/*    content: "";*/
/*    display: block;*/
/*    width: 1px;*/
/*    height: 90px;*/
/*    background-image: linear-gradient(180deg, #1a2980, #26d0ce, #8cc9f0);*/
/*    margin: 0px auto;*/
/*}*/
